<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    
    
<bean id="Parenttriangle" class="com.hcl.springinheritance.Triangle" >
<property name="PointA" ref="PointA"></property>
</bean>
<bean id="triangle1" class="com.hcl.springinheritance.Triangle" parent="Parenttriangle">
<property name="PointB" ref="PointB"></property>
<property name="PointC" ref="PointC"></property>
</bean>
<bean id="triangle2" class="com.hcl.springinheritance.Triangle" parent="Parenttriangle">
<property name="PointB" ref="PointB"></property>
</bean>


<bean id="PointA" class="com.hcl.springinheritance.Point">
<property name="x" value="0"></property>
<property name="y" value="1"></property>
 </bean>
<bean id="PointB" class="com.hcl.springinheritance.Point">
<property name="x" value="-20"></property>
<property name="y" value="0"></property>
 </bean>
 <bean id="PointC" class="com.hcl.springinheritance.Point">
<property name="x" value="20"></property>
<property name="y" value="0"></property>
 </bean>
</beans>